<p style="color: green"><%= notice %></p>

<div class="container"> 
  <h2 class="text-center"><%= @inventory.name %></h2>
<button type="button" class="btn btn-primary float-end" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add food</button>
  <hr class="mt-5" />
   <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.food.name %></td>
        <td><%= "#{food.quantity.to_i == food.quantity ? food.quantity.to_i : food.quantity} #{food.food.measurement_unit}"  %></td>
        <td><%= link_to "Remove", food, 'data-turbo-method': :delete, id: "remove-food-#{food.id}"  %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add food</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    

     <h5 class="modal-title" id="exampleModalLabel">Select food</h5>
      <br/>
      <div class="d-flex align-items-center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
       <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
         <%= link_to 'Create food', new_food_path, class: 'btn btn-primary btn-block w-50' %>
       </div>
      </div>
    </div>
  </div>
</div>
