<p style="color: green"><%= notice %></p>

<h1>Public Recipes</h1>

<ul>
  <% @public_recipes.each do |recipe| %>
    <li>
      <h3><%= recipe.name %></h3>
      <p>Total food items: <%= recipe.foods.count %></p>
      <p>Total price: $<%= recipe.foods.sum(:price) %></p>
      <p>By: <%= recipe.user.name %></p>
    </li>
  <% end %>
</ul>

<!--%= link_to "New user", new_user_path %-->
