<p style="color: green"><%= notice %></p>

<h2><%= render @recipe.name %></h2>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
